main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav>div {
    text-align: center;
}

nav>div>a{
    text-decoration: none;
    color: #777;
    font-size: large;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background-color: #dfdfdf;
    align-items: center;
    justify-content: space-around;
    padding: 7.5px 2px;
}
#filters > div {
    width: unset;
}
#filters input[type=text] {
    background-color: #dfdfdf;
    border: 2px solid grey;
}
#filters input[type=number] {
    width: fit-content;
    margin: 5px;
    text-align: center;
    background-color: transparent;
    border: none;
}
#filters button {
    background-color: #dfdfdf;
    border: 2px solid grey;
}

#addItemSection {
    width: 100%;
    /* display: none; */
    background-color: #dfdfdf;
    border-top: 2.5px solid black;
    padding: 10px;
}

#addItemSection input[type=text], #addItemSection input[type=number], #addItemSection button {
    background-color: #dfdfdf;
    border: 2px solid grey;
    margin: 5px;
}

#filters input[type="range"] {
    width: 100%;
    position: absolute;
    top: -5px;
    appearance: none;
    background: none;
    pointer-events: none;
    margin: 0;
    padding: 0;
}
#filters input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
}
#filters #rangeDiv {
    width: 100%;
    position: relative;
}
#filters #sliderBg {
    width: 100%;
    height: 5px;
    background-color: #fff;
}
#filters #sliderFill {
    background-color: blue;
    height: 5px;
    position: absolute;
    left: 25%;
    right: 25%;
    border-radius: 5px;
}
#filters#manualPriceDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#filters #manualPriceDiv input {
    width: 20%;
    margin: 5px 0;
}

#datas button{
    background-color: #dfdfdf;
    border: 2px solid grey;
    color: grey;
    transition: all 0.2s;
}
#datas button:hover {
    color: red;
    border-color: red;
}


@media only screen and (max-width: 840px) {
    #filters, #addItemSection form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #filters > div{
        margin: 10px;
    }
    
}