*{
    box-sizing: border-box;
}

html{
    background-color: #146C94;
}

body{
    width: 80%;
    margin: auto;
    background-color: #146C94;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav>div>a{
    text-decoration: none;
    color: black;
    font-size: large;
}

div{
    text-align: center;
}

.card-header{
    height: 150px;
}

.card-header, .card-footer{
    color: #ffffff;
}

#kosar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


#nagykep{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


#nagykep button{
    width: 20%;   
}

.show, .kosar{
    background-color: #0087c5;
    color: #F6F1F1;
    border: 2px solid black;
    border-radius: 8px;
}

img{
    width: 100%;
    max-height: 250px;
}